<section id="products">
    <div class="container">
        <br><br>
        <mat-divider></mat-divider>
        <br><br>

        <div class="row">
            <div class="col">
                <button mat-stroked-button mat-raised-button class="btn01 ">
            <div class="card product-card">
                <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Discription</th>
                        <th>Price</th>
                        <th>Add To Cart</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img src="../../assets/product01.jpg"></td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td><button mat-raised-button color="accent">Add to Cart</button></td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
        </button>
        <br><br>
        <button mat-stroked-button mat-raised-button class="btn01 ">
                <div class="card product-card">
                    <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th>Product</th>
                            <th>Discription</th>
                            <th>Price</th>
                            <th>Add To Cart</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><img src="../../assets/product02.png"></td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td><button mat-raised-button color="accent">Add to Cart</button></td>
        </tr>
        </tbody>
        </table>
    </div>
    </div>
    </button>
    <br> <br><br>
    <!-- <button mat-stroked-button mat-raised-button class="p-0 ">
            <div class="card " style="width:400px">
                <p>Product</p>
                <img class="card-img-top" src="../../assets/product01.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </button> -->
    </div>
    </div>
    </div>
    <mat-divider></mat-divider>
</section>