<section height="100vh" id="home" width="100%" style="margin: 30px;">

    <!-- <div style="width: 100%;">
        <div class=" align-self-center">
            <img src="../../assets/Logo01.jpeg" alt="" />
            <h1 id="heading" style=" color: #000000; opacity: 1;">
                A Step Towards Atamnirbharta
            </h1>
        </div>
    </div> -->

    <div class="container">
        <div id="safety" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#safety" data-slide-to="0" class="active"></li>
                <li data-target="#safety" data-slide-to="1"></li>
                <li data-target="#safety" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/covid-19.jpg" alt="covid">
                </div>
                <div class="carousel-item">
                    <img src="assets/covid-safety01.jpg" alt="safety">
                </div>
                <div class="carousel-item">
                    <img src="assets/test-procedure01.png" alt="test-procedure">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#safety" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#safety" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <br><br><br><br>
    <div class="container-fluid">
        <h1 style="text-align: center;"><b>Product Discription</b></h1>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="assets/product discription (02).png" width="100%">
            </div>
            <div class="col-lg-6 col-md-12">
                <img src="assets/product discription (01).png" width="100%">
            </div>
        </div>

    </div>
    <br><br><br>
    <div class="container">
        <video width="100%" controls autoplay>
            <source src="assets/product-video.mp4" type="video/mp4">
            <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
            Your browser does not support HTML video.
          </video>
    </div>
</section>